* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main {
  padding: 20px;
}

main {
  flex: 1;
}

#flor {
  width: 30%;
}

footer {
  background-color: rosybrown;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

#favorito1, #favorito2 {
  width: 100%;
  text-align: center; 
}

#favorito1{
  background-color: red;
  padding: 0;
}

#favorito2{
  background-color: purple;
}

#favorito1 img, #favorito2 img {
  width: 600px; 
  height: 300px; 
  max-width: 100%;
}
